.body{
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    /*background: url("img/stars_starry_sky_purple.jpg");*/
    background: url("../img/stars_starry_sky_purple.jpg") top center;
    background-size:contain;
    
}

.titulo{
    height: 16em;
    /*
    vertical-align: middle;
    padding-top: 7em;
    padding-bottom: 2em;
    */
    display: flex;

    align-items: center;
    justify-content: center;
    
    background: url("../img/stars_starry_sky_purple.jpg") top center;
    background-size: cover;

    background: rgba(119, 0, 255, 0.253);
    box-shadow: 0.7px 0.8px 3px rgb(14, 12, 24);
    text-shadow: 0.7px 0.8px 3px rgb(14, 12, 24);
    
}

.container{
    width: 100%;
}

* {
    margin:0px;
    padding:0px;
}

.texto{
    padding-top: 1em;
    margin-left: 10%;
    margin-right: 10%;
    

}

.sports{
    padding-top: 1em;
}

.videos{
    border: 2px;
    background-color: rgba(137, 43, 226, 0.507);
    padding: 20px;
    border-radius: 3px;
    width: 1500px;
    z-index: 5;
    
    
}

.space{
    margin: 3em;
}

.z{
    z-index: -1;
}

.music{
    padding: 15px;
    color: #000;
    /*background-color: rgba(1, 255, 44, 0.575);*/
}

.music a{
    text-decoration:none;
}

.music:hover{
    color: mediumaquamarine;
    background-color: rgba(1, 255, 44, 0.575);
    border-radius: 3px;
}

.div_music{
    padding-bottom: 5em;


}
