.body{
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;

   
}

.titulo{
    height: 18em;
    vertical-align: middle;
    padding-top: 7em;
    padding-bottom: 2em;
    
    background-image: url("img/stars_starry_sky_purple.jpg");
    background: rgba(0, 0, 255, 0.253);
}

.container{
    width: 100%;
}

* {
    margin:0px;
    padding:0px;
}

.videos{
    border: 2px;
    background-color: rgba(137, 43, 226, 0.507);
    padding: 20px;
    border-radius: 3px;
    width: 1500px;
    z-index: 5;
    
    
}

.space{
    margin: 3em;
}

.z{
    z-index: -1;
}

.music{
    padding: 15px;
    color: #000;
    /*background-color: rgba(1, 255, 44, 0.575);*/
}

.music a{
    text-decoration:none;
}

.music:hover{
    color: mediumaquamarine;
    background-color: rgba(1, 255, 44, 0.575);
}

.div_music{
    padding-bottom: 5em;


}
